<h1>Coupon Show Page</h1> 


<section id=coupon_individual-<%= @coupon.id %>>
  <%= @coupon.name %>
  <%= @coupon.coupon_code %>
  <%= @coupon.percentage_off %>
  <%= button_to "Edit Coupon", edit_merchant_coupon_path(@coupon), method: :patch %>
  <%= button_to "Delete Coupon", merchant_coupon_path(@coupon), method: :delete  %>

</section>


