<h1>Cart</h1>

<% if !@items.empty? %>
<center>
<table class = "cart-items">
  <tr>
    <th>Item</th>
    <th>Sold By</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Subtotal</th>
  </tr>
  <% @items.each do |item,quantity| %>
    <tr id= "cart-item-<%=item.id%>">
      <td>
        <p align = "center">
          <span>
            <img align = "center" id="cart-image" src= <%= item.image %>>
            <%=link_to item.name, "/items/#{item.id}" %>
          </span>
        </p>
      </td>
      <td>
        <p align = "center">
          <%=link_to item.merchant.name, "/merchants/#{item.merchant.id}"%>
        </p>
      </td>
      <td>
        <p><%=number_to_currency(item.price)%></p>
      </td>
      <td>
        <center>
          <section id="add-count-<%= item.id%>">
            <%= button_to '+', "/cart?increment_decrement=increment&item_id=#{item.id}", method: :patch %>
              <p><%=quantity%></p>
            <%= button_to '-', "/cart?increment_decrement=decrement&item_id=#{item.id}", method: :patch %>
          </section>
          <p><%= link_to "Remove","/cart/#{item.id}", method: :delete %></p>
        </center>
        </td>
      <td>
        <p><%=number_to_currency(cart.subtotal(item))%></p>
    </td>
    </tr>
  <% end %>
</table>

<section id="discounted_subtotal">
  <% if session[:coupon] %>
    <%# cant call coupon.first instead %>
    <p>SubTotal(reflecting coupon): <%= number_to_currency(cart.discounted_subtotal(session[:coupon].first["percentage_off"], session[:coupon].first["merchant_id"])) %></p>
  <% else %>
    <p>SubTotal(reflecting coupon): <%= number_to_currency(cart.discounted_subtotal(1,0)) %></p>
  <% end %>
</section>

  <p>Total: <%= number_to_currency(cart.total) %></p>

  <section id="coupon-application">
    <%# <%= make this into a combo box %1> %>
    <%= form_tag "/cart/coupon?apply_coupon=yes", method: :patch do  %>
      <%= label_tag :coupon_code %>
      <%= text_field_tag :coupon_code %>
      <%= submit_tag "Apply Coupon Code" %>
    <% end %>
  </section>

  <p><%= link_to "Empty Cart", "/cart", method: :delete %></p>
  <p><%= link_to "Checkout", "/orders/new", method: :get %></p>
<% else %>
  <h3 align= "center">Cart is currently empty</h3>
<% end %>
<table>
</center>
